@tailwind base;
@tailwind components;
@tailwind utilities;

#main {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  border-radius: 8px;
  box-shadow: 0 4px 8px black;
  border: 3px solid blue;
  background-color: aqua;
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  background-image: url("gradient.jpg");
  background-size: cover;
}